.glyphicon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.height-200 {
    height: 200px;
}
.height-100 {
    height: 100px;
}

.box {
    height: 200px;
    width: 200px;
    border: 4px solid gray;
}
.box-small {
    height: 100px;
    border: 4px dotted tomato;
}
.box-smaller {
    height: 50px;
    border: 4px dashed blue;
}
/*
a.dropdown-toggle {
    max-width: 140px;
}
*/